html
  head
    title= "Torrent Feeder"
    style(type='text/css').
      td, th {
          border: 1px solid gray;
          padding: 3px;
      }
      table {
        border-spacing: 0;
      }
    meta(name="viewport" content="width=device-width, initial-scale=0.8")
  body
    div
      form(method="GET" action="/")
        label="Shows:"
        select(name="showId" onchange="document.forms[0].submit()")
          option
          each show in shows
            option(value=show.ShowID) #{show.ShowName}

    div
      table
        tr
          th="Id"
          th="Date"
          th="Episode"
          th="Downloaded"
          th=""
          th=""
        each episode in episodes
          tr
            td=episode.EpisodeID
            td=moment(episode.Date).format("YYYY-MM-DD")
            td=episode.EpisodeName
            td=episode.Downloaded
            td
              a(href="/download?downloaded=0&episodeId=" + episode.EpisodeID)="Download Again"
            td
              a(href="/download?downloaded=1&episodeId=" + episode.EpisodeID)="Mark as Downloaded"
